<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Lista de Pel&iacute;culas</title>
    <!-- Bootstrap Core CSS -->
    <link href='css/bootstrap.min.css' rel='stylesheet'>
    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href='css/custom.css' rel='stylesheet'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
        <script src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>
    <![endif]-->
</head>
<body>
    <div class='container'>
        <div class='row'>


			<!-- Repetir esto para cada pelicula -->
			<article class='col-md-4 article-intro'>
				<a href='#'>
					<img class='img-responsive img-rounded' src='https://www.imdb.com/title/tt0088763/mediaviewer/rm554638848/' alt=''>
				</a>
				<h3>
					<a href='#'>Back to the Future</a>
				</h3>
				<ul>
					<li>G&eacute;nero: Aventura</li>
					<li>Puntaje: 87.00</li>
					<li>Duraci&oacute;n: 116</li>
				</ul>
				<p>Marty McFly, a 17-year-old high school student, is accidentally sent thirty years into the past in a time-traveling DeLorean invented by his close friend, the eccentric scientist Doc Brown</p>
			</article>
			<!-- Repetir esto para cada pelicula -->


			<!-- Repetir esto para cada pelicula -->
			<article class='col-md-4 article-intro'>
				<a href='#'>
					<img class='img-responsive img-rounded' src='https://www.imdb.com/title/tt0087332/mediaviewer/rm1280169216/' alt=''>
				</a>
				<h3>
					<a href='#'>Ghostbusters</a>
				</h3>
				<ul>
					<li>G&eacute;nero: Fantasia</li>
					<li>Puntaje: 71.00</li>
					<li>Duraci&oacute;n: 105</li>
				</ul>
				<p>Three former parapsychology professors set up shop as a unique ghost removal service</p>
			</article>
			<!-- Repetir esto para cada pelicula -->


			<!-- Repetir esto para cada pelicula -->
			<article class='col-md-4 article-intro'>
				<a href='#'>
					<img class='img-responsive img-rounded' src='https://www.imdb.com/title/tt0070047/mediaviewer/rm1202605312/' alt=''>
				</a>
				<h3>
					<a href='#'>The Exorcist</a>
				</h3>
				<ul>
					<li>G&eacute;nero: Horror</li>
					<li>Puntaje: 81.00</li>
					<li>Duraci&oacute;n: 122</li>
				</ul>
				<p>When a 12-year-old girl is possessed by a mysterious entity, her mother seeks the help of two priests to save her</p>
			</article>
			<!-- Repetir esto para cada pelicula -->


			<!-- Repetir esto para cada pelicula -->
			<article class='col-md-4 article-intro'>
				<a href='#'>
					<img class='img-responsive img-rounded' src='https://www.imdb.com/title/tt0108052/mediaviewer/rm1610023168/' alt=''>
				</a>
				<h3>
					<a href='#'>Schindler's List</a>
				</h3>
				<ul>
					<li>G&eacute;nero: Drama</li>
					<li>Puntaje: 94.00</li>
					<li>Duraci&oacute;n: 195</li>
				</ul>
				<p>In German-occupied Poland during World War II, industrialist Oskar Schindler gradually becomes concerned for his Jewish workforce after witnessing their persecution by the Nazis</p>
			</article>
			<!-- Repetir esto para cada pelicula -->


        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src='js/jquery-1.11.3.min.js'></script>
    <!-- Bootstrap Core JavaScript -->
    <script src='js/bootstrap.min.js'></script>
	<!-- IE10 viewport bug workaround -->
	<script src='js/ie10-viewport-bug-workaround.js'></script>
	<!-- Placeholder Images -->
	<script src='js/holder.min.js'></script>
</body>
</html>
